.clearfix {
  overflow: auto;
}

body {
  padding: 0px 0px 0px 0px;
  margin: 0 auto;
}

img {
  display: block;
  width: 100%;
}

.slider {
  width: 1600px;
  height: 600px;
  margin: 0 auto;
  padding-bottom: 90px;
  margin: 0 auto;
  position: relative;
}

.img-div {
  position: relative;
}

.div-for-shadow {
  background-color: rgba(0, 0, 2, 0.3);
  width: 100%;
  height: 600px;
  position: absolute;
  top: 0;
  left: 0;
}

.div-arrow-ul {
  margin: 0;
  padding: 0;
}

.slider-arrow-left {
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.slider-arrow-right {
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.slider-arrow-left-button {
  width: 103px;
  height: 103px;
  margin: 0;
  padding: 0;
  border: none;
  background-image: url(../img/homework-05sliderleft.png);
  background-color: rgba(83, 250, 217, 0.3);
}

.slider-arrow-left-button:hover {
  background-color: rgba(26, 188, 156);
  cursor: pointer;
}

.slider-arrow-right-button {
  width: 103px;
  height: 103px;
  margin: 0;
  padding: 0;
  border: none;
  background-image: url(../img/homework-05sliderright.png);
  background-color: rgba(83, 250, 217, 0.3);
}

.slider-arrow-right-button:hover {
  background-color: rgba(26, 188, 156);
  cursor: pointer;
}

.div-arrow {
  width: 1110px;
  margin: 0;
  position: absolute;
  top: 32%;
  left: 15.3%;
}

.slider-content {
  position: absolute;
  top: 29%;
  left: 26.7%;
}

.slider-content-h2 {
  margin: 0px 0px 30px 0px;
  font-size: 60px;
  letter-spacing: -1px;
  line-height: 82px;
  color: #ffffff;
  font-family: "Roboto";
  font-weight: 900;
  text-transform: uppercase;
}

.slider-content-p {
  font-size: 24px;
  color: #ffffff;
  text-transform: uppercase;
}

.main-img {
  display: block;
  width: 100%;
  height: 100%;
}

.main-header {
  width: 1600px;
  padding: 0;
  margin: 0px auto 54px auto;
}

.main-nav {
  width: 1110px;
  margin: 0 auto;
  padding: 0px;
}

.overlay {
  display: none;
  width: 234px;
  height: 260px;
  position: absolute;
  top: 0;
  left: 0;
  background-clip: padding-box;
  border: 10px solid rgb(255, 255, 255, 0.5);
  background-color: rgba(50, 50, 50, 0.5);
}

.main-nav ul {
  float: right;
  margin: 0;
  padding: 0px;
}

.main-menu li {
  padding: 44px 0px;
  margin: 0px 34px 0px 0px;
  float: left;
  list-style-type: none;
}

.main-menu li:last-child {
  margin: 0px 28px 0px 0px;
}

.main-menu-link {
  font-size: 17px;
  letter-spacing: 0px;
  line-height: 11px;
  color: #000000;
  font-family: "Open Sans";
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.main-menu-link:hover {
  color: #1abc9c;
}

.left-menu-p {
  margin: 0px;
}

.left-menu-a {
  float: left;
  margin: 0;
  padding: 37px 0px 37px 30px;
  width: 84px;
  font-size: 30px;
  letter-spacing: -1px;
  line-height: 32px;
  color: #000000;
  font-family: "Roboto";
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
}

.left-menu-a p::first-letter {
  font-size: 30px;
  letter-spacing: -1px;
  line-height: 32px;
  color: #1abc9c;
  font-family: "Roboto";
  font-weight: 900;
}

.conteiner1 {
  width: 1110px;
  height: auto;
  margin: 0 auto;
  padding: 0;
}

.unit-h2 {
  font-size: 48px;
  letter-spacing: 1px;
  line-height: 50px;
  color: #515151;
  font-family: "Roboto";
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  margin: 0px auto 0px auto;
}

.unit-h2::after {
  display: block;
  content: "";
  width: 164px;
  height: 7px;
  background-color: #1abc9c;
  margin: 30px auto 80px auto;
  padding: 0;
}

.part {
  position: relative;
  width: 254px;
  height: auto;
  float: left;
  margin-bottom: 100px;
  padding: 0px;
  font-size: 0;
}

.part:not(:last-of-type) {
  margin-right: 30px;
}

.part-h3 {
  float: left;
  height: 40px;
  width: 200px;
  margin: 0;
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 40px;
  color: #ffffff;
  font-family: "Roboto";
  font-weight: 900;
  text-indent: 13px;
  text-transform: uppercase;
  background-color: rgb(50, 50, 50);
}

.part:hover .part-h3 {
  background-color: rgba(26, 188, 156);
}

.part:hover .part-h4 {
  background-color: rgba(26, 188, 156, 0.6);
}

.part:hover .overlay {
  display: block;
}

.part-h4 {
  float: left;
  width: 54px;
  height: 40px;
  margin: 0;
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 40px;
  background-color: rgb(151, 150, 150);
  color: #ffffff;
  font-family: "Roboto";
  font-weight: 900;
  line-height: 40px;
  text-align: center;
}

.footer {
  width: 1656px;
  height: 88px;
  background-color: #323232;
  margin: 0 auto;
}

.fotter-p {
  margin: 30px 0;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 28px;
  color: #fefefe;
  font-family: "Open Sans";
  font-weight: 400;
  text-align: center;
}

.fotter-link {
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 28px;
  color: rgba(26, 188, 156);
  font-family: "Open Sans";
  font-weight: 400;
  text-decoration: none;
}

.overlay-ul {
  position: absolute;
  left: 14.9%;
  top: 29.8%;
  padding: 0;
}

.overlay-li {
  float: left;
}

.overlay-button {
  display: block;
  background-size: cover;
}

.first-button {
  width: 48px;
  height: 48px;
  background-image: url(../img/1.png);
  background-color: transparent;
  margin-right: 10px;
}

.second-button {
  width: 48px;
  height: 48px;
  background-image: url(../img/2.png);
  margin-right: 10px;
  background-color: transparent;
}

.third-button {
  width: 48px;
  height: 48px;
  background-image: url(../img/3.png);
  background-color: transparent;
}

.fourt-button {
  width: 164px;
  height: 48px;
  background-image: url(../img/4.png);
}

.overlay-button:hover {
  background-color: rgba(26, 188, 156);
}
